

header{
    background-color: #fff;
    width: 100%;
    height: 65px;
    position: fixed;
    z-index: 99999;
    margin-top: -3rem;
    box-shadow: 5px 5px 10px rgb(233, 230, 230);
    /* border: 2px solid red; */

}

.nav-logo{
    width: 7%;
    height: 37px;
    /* border: 1px solid red; */
    background-position:center ;
    background-size: contain;
    background-image: url(../img/oring.PNG);
    /* background-repeat: no-repeat; */
}
nav{
    width: 100%;
    height: 50px;
    display: flex;
    /* border: 1px solid blue; */
}
.nav-tabs{
    width: 32%;
    height: 50px;
    margin-left:0%;
    /* display: flex; */
    /* border: 1px solid red; */
}
.nav-tabs ul{
    margin-left:-9% ;
    margin-top: 4%;
    display: flex;
    list-style: none;
    justify-content:space-evenly;
}
.nav-tabs ul li a{
    /* margin-top: -3%; */
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 520;
    font-size: 0.9rem;
    color: rgb(37, 36, 36);
}
.container{
    width: 100%;
    height: 100vh;
    /* margin-top:3rem ; */
    /* border: 1px solid red; */
}
.vic{
    width: 100%;
    height: 560px;
    margin-top:3rem;
    border: 1px solid #fff;
    background-position: center;
    background-size: cover;
    background-image: url(../img/opay.jpg);
}
.container .vic h1{
    color: #fff;
    margin-left:6% ;
    margin-top: 4%;
    font-weight: 800;
    font-family: sans-serif;
    font-size: 50px;
    /* line-height: 1rem; */
    /* font-stretch: narrower; */
}
h4{
    color:rgb(20, 20, 99);
    margin-left: 6%;
    margin-top: 3%;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
}
.kok{
    width: 100%;
    height: 330px;
    /* border: 1px solid red;/ */
}
.fon{
    /* position:stat; */
    display: flex;
    margin-top: 5%;
    margin-left: 10%;
}
.kon{
    width: 10%;
    height: 240px;
    margin-left: -1%;
    z-index: 9999;
    /* position:absolute; */
    /* border: 1px solid green; */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../img/slide-img-1.png);
}
.hon{
    width: 10%;
    height: 240px;
    margin-left: 12%;
    z-index: 9999;
    /* position: fixed; */
    /* border: 1px solid green; */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../img/slide1.png);
}
.don{
    width: 10%;
    height: 240px;
    margin-left: 12%;
    z-index: 9999;
    /* position: absolute; */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../img/slide-img-6.png);
}
.lan{
    width: 10%;
    height: 240px;
    margin-left: 12%;
    z-index: 9999;
    /* position: absolute; */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../img/slide-img-4.png);
}

.fok{
    width: 10%;
    height: 240px;
    margin-left: 11%;
    z-index: 9999;
    /* position: absolute; */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../img/slide-img-5.png);
}
.pan{
    width: 100%;
    height: 350px;
    /* border: 1px solid red; */
    display: flex;
}
.can{
    width: 14rem;
    height: 230px;
    /* display: flex; */
    /* position: absolute; */
    border-radius: 6%;
    background-color: rgb(222, 234, 245);
    /* flex-direction: column; */
    margin-top:-4rem;
    margin-left:0.9rem;
    /* transition: 0.5s ease-in; */
    /* border: 1px solid red; */
}
.can .font{
    margin-top: 3rem;
    margin-left: 1.3rem;
    color:  rgb(23, 173, 103);
    
}

.san .font{
    margin-top: 3rem;
    margin-left: 1.3rem;
    color:  rgb(23, 173, 103);
    
}
.can:hover{
    background-color:  rgb(23, 173, 103);
    /* color: #fff; */
}
.can:hover .font{
    color: #fff;
}
.can:hover h3{
    color: #fff;
}
h2{
    color:rgb(20, 20, 99) ;
    font-family: sans-serif;
    margin-left: 1.3rem;
    font-weight: 800;
    font-size: 0.8rem;
    margin-top: 3rem;
}
h3{
    color: rgb(23, 173, 103);
    font-family: sans-serif;
    font-size: 0.6rem;
    margin-top: -2%;
    margin-left: 1.3rem;
}
.san{
    width: 14rem;
    height: 230px;
    background-color:  rgb(222, 234, 245);
    /* border: 1px solid red; */
    border-radius: 6%;
    margin-left: 2.4rem;
    margin-top: -4rem;
}
.gan{
    width: 14rem;
    height: 230px;
    background-color:  rgb(222, 234, 245);
    /* border: 1px solid red; */
    border-radius: 6%;
    margin-left: 2.7rem;
    margin-top: -4rem;
    /* position: absolute; */
}

.gan .font{
    margin-top: 3rem;
    margin-left: 1.3rem;
    color:  rgb(23, 173, 103);
    /* color: #fff; */ 
}
.gan:hover .font{
    color: #fff;
}
.ran{
    width: 14rem;
    height: 230px;
    background-color:  rgb(222, 234, 245);
    /* border: 1px solid red; */
    border-radius: 6%;
    margin-left: 2.4rem;
    margin-top: -4rem;
}
.ran:hover{
    background-color: rgb(23, 173, 103);
}
.ran:hover .font{
    color: #fff;
}
.ran:hover h3{
    color: #fff;
}
.ran:hover h4{
    color: #fff;
}
.ran .font{
    margin-top: 3rem;
    margin-left: 1.3rem;
    color:  rgb(23, 173, 103);
    
}
.yan{
    width: 14rem;
    height: 230px;
    background-color:  rgb(222, 234, 245);
    /* border: 1px solid red; */
    border-radius: 6%;
    margin-left: 2rem;
    margin-top: -4rem;
}
.yan .font{
    margin-top: 3rem;
    margin-left: 1.3rem;
    color:  rgb(23, 173, 103);
    
}
.san:hover{
    background-color:rgb(23, 173, 103) ;
}
.san:hover h5{
    color: #fff;
}
.san:hover h6{
    color: #fff;
}
.san:hover .font{
    color: #fff;
}
.san h5{
    color:rgb(20, 20, 99) ;
    font-family: sans-serif;
    margin-left: 5%;
    font-weight: 800;
    font-size: 0.8rem;
    margin-top: 3rem;
}
.san h6{
    color: rgb(23, 173, 103);
    font-family: sans-serif;
    font-size: 0.6rem;
    margin-top: -7%;
    margin-left: 5%;
}
.gan:hover {
    background-color:  rgb(23, 173, 103);
}
.gan:hover h6{
    color: #fff;
}
.gan:hover h5{
    color: #fff;
}
.gan h5{
    color:rgb(20, 20, 99) ;
    font-family: sans-serif;
    margin-left: 5%;
    font-weight: 800;
    font-size: 0.8rem;
    margin-top: 3rem;
}
.gan h6{
    color: rgb(23, 173, 103);
    font-family: sans-serif;
    font-size: 0.6rem;
    margin-top: -7%;
    margin-left: 5%;
}
.ran h3{
    color:rgb(20, 20, 99) ;
    font-family: sans-serif;
    margin-left: 5%;
    font-weight: 800;
    font-size: 0.8rem;
    margin-top: 3rem;
}
.ran h4{
    color: rgb(23, 173, 103);
    font-family: sans-serif;
    font-weight: 700;
    font-size: 0.5rem;
    margin-top: -3%;
    margin-left: 5%;
}
.yan:hover{
    background-color:rgb(23, 173, 103) ;
}
.yan:hover h2{
    color: #fff;
}
.yan:hover h3{
    color: #fff;
}
.yan:hover .font{
    color: #fff;
}
.yan h2{
    color:rgb(20, 20, 99) ;
    font-family: sans-serif;
    margin-left: 5%;
    font-weight: 800;
    font-size: 0.8rem;
    margin-top: 3rem;
}
.yan h3{
    color: rgb(23, 173, 103);
    font-family: sans-serif;
    font-weight: 700;
    font-size: 0.5rem;
    margin-top: -3%;
    margin-left: 5%;
}
.pin h1{
    color:rgb(20, 20, 99) ;
    font-family: sans-serif;
    margin-left: -78rem;
    font-weight: 700;
    font-size: 2.6rem;
    margin-top:17rem; 
}
.mother{
    width: 100%;
    height:550px;
    display: flex;
    /* border: 1px solid red; */
    background-color: rgb(23, 173, 103);
}
.fucker{
    width: 41%;
    height: 430px;
    margin-left: 2rem;
    margin-top: 3.7rem;
    /* border: 1px solid yellow; */
}
.you{
    width: 43%;
    height: 430px;
    margin-top: 3.7rem;
    margin-left: 7rem;
    background-position: center;
    background-size: cover;
    border-radius: 3%;
    background-image: url(../img/OurServices01.jpg);
    /* border: 1px solid yellow; */
}
.fucker h4{
    color: #fff;
    margin-left: 1rem;
    margin-top: 5rem;
    font-weight: 700;
    font-family: sans-serif;
    font-size: 2.7rem;
}
.fucker h5{
    color: #fff;
    margin-left: 1rem;
    margin-top: -2rem;
    font-family: sans-serif;
    font-weight: 530;
    font-size: 1.4rem;
}
.father{
    width: 100%;
    height: 550px;
    display: flex;
    /* border:1px solid yellow; */
    background-color:aliceblue;
}
.chi{
    width:45% ;
    height: 430px;
    margin-top: 3.5rem;
    margin-left: 5rem;
    border-radius: 3%;
    /* border: 1px solid yellow; */
    background-position: center;
    background-size:cover;
    background-image: url(../img/OurServices02.jpg);
}
.nazi{
    width: 41%;
    height: 430px;
    margin-top: 2rem;
    margin-left: 3.7rem;
    /* border: 1px solid yellow; */
}
.nazi h2{
    margin-top: 6rem;
    margin-left: 2rem;
    font-family: sans-serif;
    font-size: 2.3rem;
    font-weight: 770;
    color:rgb(23, 173, 103) ;
}
.nazi h3{
    margin-left: 2rem;
    margin-top: 1rem;
    font-family: sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    color:rgb(20, 20, 99);
}
.victor{
    width: 100%;
    height: 550px;
    display: flex;
    background-color: rgb(23, 173, 103);
    /* border: 1px solid yellow; */
}
.him{
    width: 42%;
    height: 430px;
    margin-left: 2rem;
    margin-top: 3.7rem;
    /* border: 1px solid yellow; */
}
.her{
    width: 43%;
    height: 430px;
    margin-top: 3.7rem;
    margin-left: 7rem;
    background-position: center;
    background-size: cover;
    border-radius: 3%;
    background-image: url(../img/OurServices03.jpg);
}
.him h5{
    color: #fff;
    margin-left: 5rem;
    margin-top: 7rem;
    font-weight: 700;
    font-family: sans-serif;
    font-size: 2.7rem;
}
.him h6{
    color: #fff;
    margin-left: 5rem;
    margin-top: -2rem;
    font-family: sans-serif;
    font-weight: 530;
    font-size: 1.4rem;
}
.mum{
    width: 100%;
    height: 550px;
    border: 1px solid rgb(228, 228, 228);
    background-color: rgb(228, 228, 228);
}
.edna{
    width: 40%;
    height: 430px;
    margin-left: 47rem;
    margin-top: 4rem;
    /* border: 1px solid red; */

}
.bend{
    width: 30%;
    height: 150px;
    margin-left: 5rem;
    margin-top: 2rem;
    box-shadow: 4px 4px 4px;
    /* border: 1px solid red; */
    border-radius: 15%;
    background-position: center;
    background-size: cover;
    background-image: url(../img/snip.PNG);
}
.edna h3{
    color: rgb(104, 104, 101);
    font-family: sans-serif;
    font-size: 2.3rem;
    font-weight: 200;
    margin-left: 4.1rem;
    margin-top: 4rem;
}
.calv{
    width: 20%;
    height: 26px;
    margin-top: 2.5rem;
    margin-left: 4rem;
    /* border-radius: 1%; */
    background-position: center;
    background-size:cover;
    background-image: url(../img/snip1.PNG);
    /* border: 1px solid red; */
}
.bend1{
    width: 20%;
    height: 26px;
    margin-left: 12rem;
    margin-top: -3rem;
    /* border-radius: 1%; */
    background-position: center;
    background-size:cover;
    background-image: url(../img/snip2.PNG);
}
.grani{
    width: 100%;
    height: 642px;
    /* border: 1px solid rgb(211, 46, 46); */
    background-color: #fff;
}
.granm{
    width: 93%;
    height: 500px;
    margin-top: 3rem;
    margin-left: 3rem;
    /* border: 1px solid red; */
    background-position: center;
    background-size: cover;
    background-image: url(../img/snip3.PNG);
}
.grani h1{
    margin-left: 3rem;
    margin-top:3rem ;
    color:rgb(20, 20, 99);
    font-family: sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
}
.plane{
    width: 100%;
    height: 600px;
    display: flex;
    /* border: 1px solid red; */
    background-color:  rgb(23, 173, 103);
}
.bad{
    width: 50%;
    height: 445px;
    margin-top: 5rem;
    /* border: 1px solid yellow; */
}
.badi{
    width: 80%;
    height: 210px;
    /* border: 1px solid red; */
    margin-left: 5rem;
    margin-top: 0.5rem;
    /* border-radius: 3%; */
    background-position: center;
    background-size: cover;
    background-image: url(../img/security-banner-1.png);
}
.bade{
    width: 80%;
    height: 210px;
    /* border: 1px solid red; */
    margin-left: 5rem;
    margin-top: 1rem;
    /* border-radius: 3%; */
    background-position: center;
    background-size: cover;
    background-image: url(../img/security-banner-2.png);
}
.zip{
    width: 50%;
    height: 500px;
    margin-top: 2rem;
    /* border: 1px solid red; */
}
.zip h1{
    color:rgb(20, 20, 99) ;
    font-family: sans-serif;
    margin-top: 3.9rem;
    margin-left: 2rem;
    font-weight: 750;
    font-size: 2.3rem;
}
.zip h2{
    color: #fff;
    font-family: sans-serif;
    font-size: 2rem;
    font-weight: 200;
    margin-left: 2rem;
    margin-top: -0.1rem;
}
.zip h3{
    color: #fff;
    font-family: sans-serif;
    font-size: 0.9rem;
    font-weight: 200;
    margin-left: 2rem;
    margin-top: -1rem;
}
.zip h4{
    color: #fff;
    font-family: sans-serif;
    font-size: 2rem;
    font-weight: 200;
    margin-left: 2rem;
    margin-top:1.4rem;
}
.zip h5{
    color: #fff;
    font-family: sans-serif;
    font-size: 0.9rem;
    font-weight: 200;
    margin-left: 2rem;
    margin-top: -1.9rem;
}
.zip h6{
    color: #fff;
    font-family: sans-serif;
    font-size: 2rem;
    font-weight: 200;
    margin-left: 2rem;
    margin-top:-0.5rem; 
}
.zip p{
    color: #fff;
    font-family: sans-serif;
    font-size: 0.9rem;
    font-weight: 200;
    margin-left: 2rem;
    margin-top: -4rem;
}
.light{
    width: 100%;
    height: 530px;
    display: flex;
    /* border: 1px solid red; */
    background-color: rgb(255, 255, 255);
}
.dachi{
    width: 48%;
    height: 445px;
    margin-top: 5rem;
    /* border: 1px solid red; */
}
.nico{
    width: 60%;
    height: 500px;
    margin-top: 2.6rem;
    /* border: 1px solid red; */
}
 .dachi h3{
    color:rgb(20, 20, 99);
    margin-top: -0.4rem;
    margin-left: 3rem;
    font-size: 1rem;
 }
.dachi h1{
    color:rgb(20, 20, 99) ;
    font-family: sans-serif;
    margin-top: 1rem;
    margin-left: 3rem;
    font-weight: 740;
    font-size: 2.5rem;
}
.dachi h2{
    font-family: sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    margin-left: 3rem;
    margin-top: 1rem;
}
.nimo{
    width: 83%;
    height: 220px;
    margin-top: 1rem;
    margin-left: 4rem;
    /* border: 1px solid red; */
    border-radius: 5%;
    background-image: url(../img/snip4.PNG);
    background-position: center;
    background-size: cover;
}
.nine{
    width: 83%;
    height: 220px;
    margin-top: 1rem;
    margin-left: 4rem;
    /* border: 1px solid red; */
    border-radius: 5%;
    background-image: url(../img/snip5.PNG);
    background-position: center;
    background-size: cover;
}
video{
    width:100%;
    height: 550px;
    object-fit: cover;
    /* border: 2px solid red; */
}
.genv{
    width: 100%;
    height: 370px;
    /* border: 1px solid red; */
    background-image: url(../img/guillermo-alvarez-kF5nFbHBG5E-unsplash.jpg);
    background-position: center;
    background-size: cover;
}
.vak{
    width: 100%;
    height:100% ;
    display: flex;
    background-color: rgb(23, 173, 103) ;
    opacity: 0.9;
}
.bin h1{
    color: #fff;
    font-size: 0.8rem;
    margin-left: 4rem;
    margin-top: 4rem;
    font-family: sans-serif;
    font-weight: 300;
}
.bin h2{
    color: #fff;
    font-size: 0.7rem;
    margin-left: 4rem;
    margin-top: 1rem;
    font-family: sans-serif;
    font-weight: 300;
}
.bin h3{
    color: #fff;
    font-size: 0.7rem;
    margin-left: 4rem;
    margin-top: 1rem;
    font-family: sans-serif;
    font-weight: 300;
}
.bin h4{
    color: #fff;
    font-size: 0.7rem;
    margin-left: 4rem;
    margin-top: 1rem;
    font-family: sans-serif;
    font-weight: 300;
}
.bin h5{
    color: #fff;
    font-size: 0.7rem;
    margin-left: 4rem;
    margin-top: 1rem;
    font-family: sans-serif;
    font-weight: 300;
}
.nin h1{
    color: #fff;
    font-size: 0.8rem;
    margin-left: 4rem;
    margin-top: 4rem;
    font-family: sans-serif;
    font-weight: 300;
}
.nin h2{
    color: #fff;
    font-size: 0.7rem;
    margin-left: 4rem;
    margin-top: 1rem;
    font-family: sans-serif;
    font-weight: 300;
}
.nin h3{
    color: #fff;
    font-size: 0.7rem;
    margin-left: 4rem;
    margin-top: 1rem;
    font-family: sans-serif;
    font-weight: 300;
}
.nin h4{
    color: #fff;
    font-size: 0.7rem;
    margin-left: 4rem;
    margin-top: 1rem;
    font-family: sans-serif;
    font-weight: 300;
}
.nin h5{
    color: #fff;
    font-size: 0.7rem;
    margin-left: 4rem;
    margin-top: 1rem;
    font-family: sans-serif;
    font-weight: 300;
}
.min h1{
    color: #fff;
    font-size: 0.8rem;
    margin-left: 4rem;
    margin-top: 4rem;
    font-family: sans-serif;
    font-weight: 300;
}
.min h2{
    color: #fff;
    font-size: 0.7rem;
    margin-left: 4rem;
    margin-top: 1rem;
    font-family: sans-serif;
    font-weight: 300;
}
.min h3{
    color: #fff;
    font-size: 0.7rem;
    margin-left: 4rem;
    margin-top: 1rem;
    font-family: sans-serif;
    font-weight: 300;
}
.min h4{
    color: #fff;
    font-size: 0.7rem;
    margin-left: 4rem;
    margin-top: 1rem;
    font-family: sans-serif;
    font-weight: 300;
}
.nan h1{
    color: #fff;
    font-size: 0.8rem;
    margin-left: 4rem;
    margin-top: 4rem;
    font-family: sans-serif;
    font-weight: 300;
}
.nan h2{
    color: #fff;
    font-size: 0.7rem;
    margin-left: 4rem;
    margin-top: 1rem;
    font-family: sans-serif;
    font-weight: 300;
}
.nan h3{
    color: #fff;
    font-size: 0.7rem;
    margin-left: 4rem;
    margin-top: -0.2rem;
    font-family: sans-serif;
    font-weight: 300;
}
.nan h4{
    color: #fff;
    font-size: 0.7rem;
    margin-left: 4rem;
    margin-top: -0.2rem;
    font-family: sans-serif;
    font-weight: 300;
}
.hak h1{
    color: #fff;
    font-size: 0.8rem;
    margin-left: 4rem;
    margin-top: 4rem;
    font-family: sans-serif;
    font-weight: 400;      
}
.hak h2{
    color: #fff;
    font-size: 0.7rem;
    margin-left: 4rem;
    margin-top: 1rem;
    font-family: sans-serif;
    font-weight: 300;
}
@media screen and (max-width:360px) {
    .container{
        width: 100%;
        height:100vh;
        display: block;
    }
    header{
        width: 100%;
        height: 65px;
    }
    nav{
        width: 100%;
        height: 65px;
    }
    .nav-logo{
        width: 20%;
        height: 19px;
        margin-top: 1rem;
        margin-left: 1rem;
    }
    .nav-tabs{
        width:100%;
        height: 24px;
        margin-left:1.8rem;
        display: flex;
        /* justify-content: space-around; */
    }
    .nav-tabs ul li{
        display: flex;
        margin-top: 0.5rem;
        /* margin-left: -rem; */
        justify-content: space-around;
    }
    .vic{
        width: 100%;
        height: 270px;
        display: block;
        flex-wrap: wrap;
    }
    .container .vic h1{
        font-size: 1rem;
        font-weight: 550;
        margin-top: 7rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container .vic h4{
        font-size: 0.5rem;
        font-weight: 400;
        line-height: 75%;
        margin-top: 1rem;
        margin-left: 0.6rem;
        display: flex;
        align-items: center;
        justify-content: center; 
    }
    .kok{
        width: 100%;
        height: 100px;
        display: block;
        flex-wrap: wrap ;
    }
    .fon{
        width: 100%;
        height: 100px;
        display: block;
        flex-wrap: wrap;
    }
    .kon{
        width: 60%;
        height: 386px;
        display: block;
        margin-left: 1rem;
        margin-top: 1rem;
        flex-wrap: wrap;
    }
    .hon{
        width: 60%;
        height: 386px;
        display: block;
        margin-left: 1rem;
        margin-top: 13rem;
        flex-wrap: wrap;
    }
    .don{
        width: 60%;
        height: 386px;
        display: block;
        margin-left: 1rem;
        margin-top:13rem;
        flex-wrap: wrap;
    }
    .lan{
        width: 60%;
        height: 386px;
        display: block;
        margin-left: 1rem;
        margin-top: 13rem;
        flex-wrap: wrap;
    }
    .fok{
        width: 60%;
        height: 386px;
        display: block;
        margin-left: 1rem;
        margin-top: 13.5rem;
        flex-wrap: wrap;
    }
    .pan{
        width: 100%;
        height: 2030px;
        display: block;
        flex-wrap:wrap;
        margin-top: 10rem;
        /* z-index: 9999; */
    }
    .can{
        width: 90%;
        height: 190px;
        display: block;
        margin-top: 18.5rem;
        margin-left: -0.1rem;
        flex-wrap: wrap;
        /* visibility: hidden; */
        /* z-index: 9999; */
    }
    .can h2{
        font-size: 1.2rem;
        margin-top: 1rem;
        margin-left: 2rem;
    }
    .pan .can h3{
        margin-left: 2rem;
        font-size: 0.8rem;
    }
    .font{
        visibility: hidden;
    }
    .san{
        width: 90%;
        height: 190px;
        display: block;
        margin-top: 25rem;
        margin-left:-0.1rem;
        flex-wrap: wrap;
    }
    .san h5{
        margin-top: 1rem;
        font-size: 1.3rem;
        margin-left: 2rem;
    }
    .san h6{
        font-size: 0.8rem;
        margin-left: 2rem;
    }
    .gan{
        width: 90%;
        height: 190px;
        display: block;
        margin-top: 25rem;
        margin-left:-0.1rem;
        flex-wrap: wrap;
    }
    .gan h5{
        font-size: 1.2rem;
        margin-top: 1rem;
        margin-left: 2rem;
    }
    .gan h6{
        font-size: 0.8rem;
        margin-left: 2rem;
    }

    .ran{
        width: 90%;
        height: 190px;
        display: block;
        margin-top:25.5rem;
        margin-left:-0.1rem;
        flex-wrap: wrap;
    }
    .ran h3{
        font-size: 1rem;
        margin-top: 1rem;
        margin-left: 1.8rem;
    }
    .ran h4{
        font-size:0.7rem ;
        margin-left: 1.8rem;
    }
    .yan{
        width: 90%;
        height: 190px;
        display: block;
        margin-top: 25.5rem;
        margin-left:-0.1rem;
        flex-wrap: wrap;
    }
    .yan h2{
        font-size: 1.2rem;
        margin-top:1rem;
        margin-left: 2rem;
    
    }
    .yan h3{
        font-size: 0.8rem;
        margin-left: 2rem;
    }
    .pin{
        width: 60%;
        height: 150px;
        display: block;
        margin-top: -4rem;
        margin-left: 2rem;
        flex-wrap: wrap;
    }
    .pin h1{
        font-size: 1rem;
        margin-top: 5rem;
        margin-left: 0.1rem;
        justify-content:center ;
        align-items: center;
    }
    .mother{
        width: 100%;
        height: 450px;
        margin-top: 36rem;
        flex-direction: column;
        display: block;
        flex-wrap: wrap;
    }
    .fucker{
        width: 100%;
        height: 100px;
        margin-left: -0.7rem;
        margin-top: 10rem;
        display: block;
        flex-wrap: wrap;
    }
    .mother .fucker h4{
        font-size: 1.3rem;
        /* margin-top:rem; */
        justify-content: center;
        align-items: center;
        /* margin-left: 0.1rem; */
        font-weight: 400;
    }
    .fucker h5{
        font-size: 1rem;
        justify-content: center;
        align-items: center;
        margin-top:-1rem;
        line-height: 24px;
        /* margin-left:0.1rem; */
        font-weight: 400;
    }
    .you{
        width: 99%;
        height: 230px;
        margin-left: 0.1rem;
        margin-top: 6.8rem;
        display: block;
        flex-wrap: wrap;  
    }
    .father{
        width: 100%;
        height: 550px;
        margin-top:-6rem;
        flex-direction: column;
        display: block;
        flex-wrap: wrap;
    }
    .chi{
        width: 99%;
        height: 230px;
        margin-left: 0.1rem;
        margin-top: 6.8rem;
        display: block;
        flex-wrap: wrap; 
    }
    .nazi{
        width: 100%;
        height: 100px;
        margin-left: -0.7rem;
        margin-top: 10rem;
        display: block;
        flex-wrap: wrap; 
    }
    .nazi h2{
        font-size: 1.3rem;
        font-weight: 300;
        margin-top:-10rem;
        justify-content: center;
        align-items: center;
        /* margin-left: -2rem; */
    }
    .nazi h3{
        font-size: 1rem;
        margin-top:1rem;
        line-height: 24px;
        /* margin-left:-3.3rem; */
        font-weight: 400;
        justify-content: center;
        align-items: center;
    }
    .victor{
        width: 100%;
        height: 480px;
        margin-top:-6rem;
        flex-direction: column;
        display: block;
        flex-wrap: wrap; 
    }
    .him{
        width: 99%;
        height: 230px;
        margin-left: 0.1rem;
        margin-top: 6.8rem;
        display: block;
        flex-wrap: wrap; 
    }
    .her{
        width: 99%;
        height: 230px;
        margin-left: 0.1rem;
        margin-top: 0.5rem;
        display: block;
        flex-wrap: wrap;   
    }
    .him h5{
        font-size: 1.3rem;
        margin-top:0%;
        margin-left: 0.1rem;
        font-weight: 400;
    }
    .him h6{
        font-size: 1rem;
        margin-top:0%;
        line-height: 24px;
        margin-left:0.1rem;
        /* justify-content: center; */
        font-weight: 400;
    }
    .mum{
        width: 100%;
        height: 620px;
        margin-top:1rem;
        /* flex-direction: column; */
        display: block;
        flex-wrap: wrap;   
    }
    .edna{
        width: 100%;
        height: 100px;
        margin-left: -3rem;
        display: block;
        flex-wrap: wrap;
    }
    .edna h3{
        font-size: 1.5rem;
        font-weight: 400;
    }
    .bend{
        width: 30%;
        height: 100px;
        margin-left: 11rem;
    }
    .calv{
        margin-left: 15rem;
        margin-top: 4rem;
    }
    .bend1{
        margin-left:6rem;
        margin-top: -1.5rem;
    }
    .grani{
        width: 100%;
        height: 250px;
        color: aquamarine;
        margin-top:6rem;
        /* flex-direction: column; */
        display: block;
        flex-wrap: wrap; 
    }
    .grani h1{
        font-size: 1.3rem;
        margin-left: 1rem;
        font-weight: 300;
    }
    .granm{
         width: 90%;
         height: 150px;
         margin-left: 1rem;
         display: block;
         flex-wrap: wrap;
    }
    .plane{
        width: 100%;
        height: 620px;
        /* color: aquamarine; */
        margin-top:6rem;
        flex-direction: column;
        display: block;
        flex-wrap: wrap; 
    }
    .bad{
        width: 100%;
        height: 100px;
        display: block;
        flex-wrap: wrap;

    }
    .zip{
        width: 100%;
        height: 100px;
        display: block;
        margin-left: -1.5rem;
        flex-wrap: wrap;
    }
    .zip h1{
        font-size: 1.6rem;
        font-weight: 550;
        margin-top:7.6rem ;

    }
    .zip h2{
        font-size: 1.4rem;
        font-weight: 550;
        margin-top:1rem ;
    }
    .zip h4{
        font-size: 1.4rem;
        font-weight: 550;
        margin-top:0.8rem ;
    }
    .zip h5{
        margin-top: -1.6rem;
    }
    .zip h6{
        font-size: 1.4rem;
        font-weight: 550;
        margin-top:-1rem ;
    }
    .zip p{
       margin-top:-3rem; 
    }
    .badi{
        width: 90%;
        height: 100px;
        margin-left: 1rem;

    }
    .bade{
        width: 90%;
        height: 100px;
        margin-left: 1rem;
        margin-top: 1rem;
    }
    .light{
        width: 100%;
        height: 670px;
        display: block;
        margin-top: -4rem;
        flex-wrap: wrap;
        background-color: rgb(238, 221, 221); 
    }
    .dachi{
        width: 100%;
        height: 100px;
        display: block;
        margin-left: -1rem;
        flex-wrap: wrap;  
    }
    .nico{
        width: 100%;
        height: 100px;
        display: block;
        margin-left: -1rem;
        flex-wrap: wrap;
    }
    .dachi h1{
        font-size: 1.3rem;
        font-weight: 600;
        line-height: 15px;
        margin-left: 1.5rem;
    }
    .dachi h2{
        font-size: 1rem;
        font-weight: 400;
        line-height: 13px;
        margin-left: 1.5rem;
    }
    .dachi h3{
        font-size: 1rem;
        margin-left: 1.5rem;

    }
    .nimo{
        width: 90%;
        height: 150px;
        margin-top: 14rem;
        margin-left: 1rem;
    }
    .nine{
        width: 90%;
        height: 150px;
        margin-top: 1rem;
        margin-left: 1rem;
    }
    video{
        width: 100%;
        height: 200px;
    }
    .genv{
        width: 100%;
        height: 1070px;
        display: block;
        flex-wrap: wrap;
    }
    .vak{
        width: 100%;
        height: 1070px;
        display: block;
        /* align-items:start; */
        /* justify-content:right; */
        flex-wrap: wrap;
    }
    .bin{
        width: 100%;
        height: 83px;
        display: block;
        flex-wrap: wrap;
        margin-left: -2rem;
        /* margin-top: -4rem; */
    }
    .nin{
        width: 100%;
        height: 83px;
        display: block;
        flex-wrap: wrap;
        margin-left:-2rem;
    }
    .min{
        width: 100%;
        height: 83px;
        display: block;
        margin-left: -2rem;
        flex-wrap: wrap;
    }
    .nan{
        width: 100%;
        height: 83px;
        display: block;
        margin-left: -2rem;
        /* margin-top: -1.5rem; */
        flex-wrap: wrap;
    }
    .hak{
        width: 100%;
        height: 100px;
        margin-top: -1.8rem;
        display: block;
        flex-wrap: wrap;
        margin-left: -2rem;
    }
}